# Laravel vendor
/vendor

# Laravel environment files
.env
.env.backup

# Laravel caches
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache

# IDE settings
/.idea
/.vscode

# OS-specific files
.DS_Store
Thumbs.db

# Node
/node_modules
npm-debug.log
yarn-error.log

# Docker MySQL data
docker/mysql/data/
