/* すべてのページ共通のリセット */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* ヘッダー */
.header {
    background-color: #000;
    color: #fff;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left img {
    height: 30px;
}

.header__center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__center input[type="text"] {
    width: 320px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__right a,
.header__right .logout-btn,
.header__right .login-btn {
    color: #fff;
    background: none;
    border: none;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 4px;
    line-height: 1.2;
    display: inline-block;
    transition: background 0.2s;
}

.header__right .item-create-btn {
    background: #fff;
    color: #222;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 4px 12px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.2s;
}

.header__right .item-create-btn:hover {
    background: #222;
    color: #fff;
}

.logout-form {
    display: inline-block;
    margin: 0 10px;
}

.logout-btn {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.logout-btn:hover {
    background: #2e2727;
}

.login-btn {
    background: #fff;
    color: #222;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 4px 16px;
    margin-left: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.2s;
}

.login-btn:hover {
    background:#222;
        color: #fff;
}